@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap);
html,
body {
  font-family: "Montserrat", sans-serif;
}

.logo {
  max-height: 6em;
  margin-top: 1em;
  margin-right: 1em;
}

h1 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 375%;
}

@media all and (max-width: 756px) {
  .north-island, .south-island {
    margin-left: 0em;
    margin-right: 0em;
    align-items: center;
  }
}

.search-bar {
  margin-top: 1em;
}

.about-nz {
  max-width: 400px;
  max-height: 400px;
  margin-top: 2em;
  margin-left: 1em;
}

.weather-icon {
  padding: 0em!important;
}

.hour-day-name {
  padding-left: 4em;
  padding-top: 3em;
  font-weight: bold;
}

.table-logo {
  height: 30px;
  width: 30px;
}

.swell-quality-img, .wind-quality-img {
  height: 30px;
  width: 40px;
}

.region-heading {
  padding-top: 1em;
  padding-left: 2em;
}
