@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap);
html,
body {
  font-family: "Montserrat", sans-serif;
}

.logo {
  max-height: 6em;
  margin-top: 1em;
  margin-right: 1em;
}

h1 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

@media all and (max-width: 756px) {
  .north-island, .south-island {
    margin-left: 0em;
    margin-right: 0em;
    align-items: center;
  }
}

.search-bar {
  margin-top: 1em;
}

.about-nz {
  max-width: 400px;
  max-height: 400px;
  margin-top: 2em;
  margin-left: 1em;
}

/* .sun-table {

}

.tide-table {

} */

.hour-table {
  padding-left: 10em;
  padding-right: 10em;
}








